<h1>Login Page</h1>

<form action="/login" method="post">
    <input type="text" name="username" id="" placeholder="username">
    <input type="text" name="password" id="" placeholder="password">
    <button type="submit">Submit</button>
</form>