<% include partials/header %>
    <h1>Create a new Campgrounds</h1>

    <form action="/campgrounds" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="image" placeholder="image">
        <button type="submit" class="btn btn-primary">Sumbit</button>
    </form>
<% include partials/footer %>